<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="text-2xl font-bold mb-6 text-blue-700">Create Account</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input class="form-input" placeholder="First Name" formControlName="firstName" />
    <input class="form-input" placeholder="Last Name" formControlName="lastName" />
    <input class="form-input" placeholder="Email" type="email" formControlName="email" />
    <input class="form-input" placeholder="Username" formControlName="username" />
    <input class="form-input" placeholder="Password" type="password" formControlName="password" />
    <input class="form-input" placeholder="Confirm Password" type="password" formControlName="confirmPassword" />

    // Add more form fields as needed MultiSelect Control
    <button type="submit" class="btn-primary w-full mt-4" [disabled]="form.invalid">Sign Up</button>
    </form>
    <p class="mt-4 text-center text-sm">
    Already have an account?
    <a routerLink="/signin" class="text-blue-600 hover:underline text-sm">Already have account? Sign In</a>
    </p>
</div>
