<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="text-2xl font-bold mb-6 text-blue-700">Reset Password</h2>

    <!-- Success Message -->
     @if(successMessage){
        <div  class="success-message mb-4">
        {{ successMessage }}
        </div>
     }
    
    @if(errorMessage){
        <!-- Error Message -->
        <div  class="error-message mb-4">
        {{ errorMessage }}
        </div>
    }

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input class="form-input" placeholder="Email" type="email" formControlName="email" />
        <button type="submit" class="btn-primary w-full mt-4" [disabled]="form.invalid">{{ isLoading ? 'Sending...' : 'Send Reset Code' }}</button>
    </form>
    <p class="mt-4 text-center text-sm">
        <a routerLink="/signin" class="text-blue-600 hover:underline">Back to Sign In</a>
    </p>
</div>
